.header {
    position: sticky;
    top: 0;
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: rem(1px) solid $gray-200;
    padding-block: rem(16px) rem(8px);
}

.header::before {
    content: '';
    background-color: var(--body-bg);
    top: 0;
    bottom: 0;
    position: absolute;
    width: calc(100% + rem(10px) * 2);
    left: calc(rem(10px) * -1);
    z-index: -1;

}

.header__logo {
    color: $golden;
    max-width: rem(172px);
    @include fs24-logo();
}

.header__popup {
    position: absolute;
    padding: rem(24px);
    right: calc(rem(10px) * -1);
    top: 0;
    background-color: $gray-400;
    display: grid;
    gap: rem(32px);
    transition: transform 0.6s ease-in-out;
    width: 100vw;
    z-index: 10;

    @include min-width(rem(390px)) {
        width: rem(390px);
    }

    @include m2() {
        position: static;
        background-color: transparent;
        width: auto;
    }
}

.header__popup--hidden {
    transform: translateX(100%);

    @include m2() {
        transform: translateX(0%);
    }
}

.header__mobile-group {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;

    @include m2() {
        display: none;
    }
}

.header__mobile-logo {
    color: $golden;
    max-width: rem(172px);
    @include fs24-logo();
}

.header__close-btn {
    all: unset;
    cursor: pointer;
    width: rem(24px);
    height: rem(24px);
}

.header__ul {
    display: flex;
    flex-direction: column;
    gap: rem(32px);
    @include fs24-menu();

    li {
        text-transform: uppercase;
        text-decoration: underline;
        text-underline-offset: 0.2em;
        transition: color 0.3s ease;
        color: $black-300;

        @include hover() {
            color: $golden-200;
        }

        &:active {
            color: $gray-200;
        }
    }

    li.current_page_item {
        color: $golden;
    }

    @include m2() {
        flex-direction: row;
        gap: rem(40px);

        li {
            flex-shrink: 0;
            color: inherit;
        }
    }
}

.header__socials {
    display: grid;
    grid-auto-flow: column;
    justify-content: start;
    gap: rem(16px);

    @include m2() {
        display: none;
    }
}

.header__social {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $golden-200;
    width: rem(72px);
    height: rem(72px);
    transition: background-color 0.3s ease;

    @include hover() {
        background-color: $golden;
    }

    &:active {
        background-color: $gray-200;
    }

    img {
        width: rem(25.6px);
        height: rem(25.6px);
    }
}

.header__contact-group {
    display: grid;
    gap: rem(8px);

    @include m2() {
        display: none;
    }
}

.header__contact-title {
    font-family: "Roboto";
    font-size: rem(24px);
    font-style: normal;
    font-weight: 600;
    line-height: 120%;
    letter-spacing: rem(0.48px);
    color: $golden;
}

.header__contact {
    display: block;
    color: $black-300;
    font-family: "Roboto";
    font-size: rem(18px);
    font-style: normal;
    font-weight: 500;
    line-height: 120%;
    letter-spacing: rem(0.36px);
    transition: color 0.3s ease;

    @include hover() {
        color: $golden-200;
    }

    &:active {
        color: $gray-200;
    }
}

.header__call-btn {
    @include button(100%);

    @include m2() {
        display: none;
    }
}

.header__theme-group {
    display: flex;
    align-items: center;
    gap: rem(40px);

    @include m2() {
        display: none;
    }

    label {
        white-space: nowrap;
    }
}

.header__theme-title {
    font-family: "Roboto";
    padding-top: 1.5em;
    font-size: rem(16px);
    font-style: normal;
    font-weight: 500;
    line-height: 120%;
    letter-spacing: rem(0.32px);
    text-transform: uppercase;
    color: $black-300;
}

.header__contacts {
    display: none;

    @include m1() {
        display: flex;
        align-items: center;
        gap: rem(40px);
    }
}

.header__info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: rem(16px);
}

.header__link {
    display: block;
    transition: color 0.3s ease;

    @include hover() {
        color: $golden-200;
    }

    &:active {
        color: $gray-200;
    }
    @include fs18();
}

.header__whatsapp {
    cursor: pointer;
    display: block;
    svg {
        width: rem(40px);
        height: rem(40px);
        transition: background-color 0.3s ease-in-out;
        background-color: var(--body-bg);

        @include hover() {
            path {
                fill: $golden-200;
            }
        }

        path {
            fill: var(--text-400);
            transition: fill 0.3s ease-in-out;
        }
    }
}

.header__toggle {
    user-select: none;
}

input[type="checkbox"].header__theme-toggle {
    appearance: none;
    opacity: 0;
}

input[type="checkbox"].header__theme-toggle:focus-visible + label::before {
    outline: rem(1px) solid var(--text-400);
}

input[type="checkbox"].header__theme-toggle + label {
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: center;
    cursor: pointer;
    color: var(--theme-toggle);

    @include fs14();
}

input[type="checkbox"].header__theme-toggle + label::before {
    content: '';
    width: rem(56px);
    height: rem(32px);
    background-color: var(--theme-bg);
    border-radius: 1em;
    margin-bottom: 0.25em;
    transition: background-color 0.2s ease-in-out;
}

input[type="checkbox"].header__theme-toggle + label::after {
    content: '';
    position: absolute;
    left: var(--theme-offset);
    top: 0.1rem;
    width: rem(28px);
    height: rem(28px);
    background-color: var(--theme-toggle);
    border-radius: 1em;
    margin-right: 0.25em;
    transition: background-color 0.2s ease-in-out, transform 0.2s ease-in-out;
}

input[type="checkbox"].header__theme-toggle:checked + label::after {
    transform: translateX(90%);
}


.header__theme-toggle {
    input[type="checkbox"].header__theme-toggle + label::after {
        top: 0.15rem;
    }
    input[type="checkbox"].header__theme-toggle + label {
        color: $golden;
    }
}


.header__theme {
    display: none;

    @include m2() {
        display: block;
    }
}

.header__popup-open {
    all: unset;
    width: rem(44px);
    aspect-ratio: 1/1;
    cursor: pointer;

    @include m2() {
        display: none;
    }
}
