
.gallery__group {
    overflow: hidden;
    margin-bottom: rem(32px);
}

.gallery__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
    margin-bottom: rem(16px);
}

.gallery__group-title {
    text-transform: uppercase;
    transition: color 0.3s ease-in-out;
    color: var(--text-400);
    @include fs24-svg();
}

.gallery__controls {
    display: none;

    @include m1() {
        display: flex;
        align-items: center;
        gap: rem(32px);
    }
}

.gallery__control-btn {
    width: rem(40px);
    height: rem(40px);
    background-color: transparent;
    border: none;
    cursor: pointer;


    path {
        transition: stroke 0.3s ease;
    }
    @include hover() {
        path {
            stroke: #837D6F;
        }
    }
}

.gallery__carousel {
    --_slides: 1;
    --_gap: 1.875rem;
    display: flex;
    flex-direction: column;
    transition: transform 0.5s ease-in-out;
    gap: var(--_gap);
    margin-bottom: rem(32px);
    touch-action: pan-y;

    @include m1() {
        margin-bottom: rem(24px);
        --_gap: 1.5rem;
        flex-direction: row;
        --_slides: 2;
    }

    @include m2() {
        margin-bottom: rem(40px);
        --_slides: 3;
    }

    @include m3() {
        --_gap: 2.5rem;
        margin-bottom: rem(48px);
    }
}

.gallery__carousel-item {
    padding-inline: rem(25px);
    user-select: none;

    @include m1() {
        padding-inline: 0;
        flex-basis: calc((100% - (var(--_gap) * (var(--_slides) - 1))) / var(--_slides));
        flex-shrink: 0;
        flex-grow: 0;
    }
}

.gallery__carousel-item--hidden {
    display: none;

    @include m1() {
        display: block;
    }
} 

.gallery__image-wrapper {
    aspect-ratio: 1/1;
    margin-bottom: rem(8px);
    overflow: hidden;
    

    img {
        height: 100%;
        width: 100%;
        object-fit: cover;
        object-position: center;
    }
    
}

.gallery__item-text {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
}

.gallery__item-name {

    @include fs20();
}

.gallery__item-link {
    display: block;
    text-transform: uppercase;
    text-transform: uppercase;
    text-decoration: underline;
    text-underline-offset: 0.2em;
    transition: color 0.3s ease;
    flex-shrink: 0;
    @include fs16();


    @include hover() {
        color: $golden;
    }

    &:active {
        color: $gray-200;
    }
}

.gallery__link {
    margin-inline: auto;
    margin-bottom: rem(32px);
    @include button();

    @include m1() {
        margin-bottom: rem(24px);
    }
    
    @include m2() {
        margin-bottom: rem(40px);
    }

    @include m3() {
        margin-bottom: rem(48px);
    }
}